<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include('./partials/head') %> 
    <title>Homepage</title>
</head>
<body>
    <%-  include('./partials/nav') %> 
    <div class="container mt-3" style="height: 50%; ">
        <div class="row row-cols-3">
            <% blogs.forEach(blog  => { %>
            <div class="col mt-3" style="width:fit-content;" >
                <div class="card col" >
                    <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="..." style="height: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                    </div>
                    <a href="/blog/<%= blog._id %>" class="btn btn-primary">Open Blog</a>
                </div>
            </div>
        <% }) %>
        </div>
    </div>
    <%-  include('./partials/scripts') %>
</body>
</html>